*,
html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: palevioletred;
}

.container-navbar {
    background-color: antiquewhite;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: white;
  font-size: 30px;
}

.li-navbar:hover {
    background-color: whitesmoke;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: antiquewhite;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 30px;
    width: 550px;
    height: 480px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-footer {
    height: 10vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
}